/* Me falta ajustar el tamaño del contenedor al elemento; */

.container {
  display: flex;
  flex: auto;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
  justify-content: space-between;
}

.element {
  color: white;
  font-family: sans-serif;
  padding: 20px;
}

.element:hover {
  background-color: rgb(7, 68, 70);
}

@media screen and (max-width: 500px) {
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .element {
    min-width: 350px;
  }
}
