/* Me falta ajustar el tamaño del contenedor al elemento; */

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: cadetblue;
}

.element {
  /* border: 1px solid black; */
  color: white;
  font-family: sans-serif;
  width: 50vw;
  height: 5vh;
}

.element:hover {
  background-color: rgb(7, 68, 70);
}

@media screen and (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .element {
    min-width: 350px;
  }
}
