@use "base" as *;

.container-1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  padding: 3rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.base-color {
  background-color: $primary-color;
}

.base-color-2 {
  background-color: $secondary-color;
}

.base-color-3 {
  background-color: $third-color;
}

@for $i from 1 to 5 {
  .darken-#{$i} {
    background: darken($primary-color, $i * 3%);
  }
  $i: $i + 1;
}

@for $i from 1 to 5 {
  .lighten-#{$i} {
    background: lighten($primary-color, $i * 2%);
  }
  $i: $i + 1;
}

@for $i from 5 to 9 {
  .darken-#{$i} {
    background: darken($secondary-color, $i * 2%);
  }
  $i: $i + 1;
}

@for $i from 5 to 9 {
  .lighten-#{$i} {
    background: lighten($secondary-color, $i * 3%);
  }
  $i: $i + 1;
}

@for $i from 9 to 13 {
  .darken-#{$i} {
    background: darken($third-color, $i * 2%);
  }
  $i: $i + 1;
}

@for $i from 9 to 13 {
  .lighten-#{$i} {
    background: lighten($third-color, $i * 3%);
  }
  $i: $i + 1;
}
