$primary-color: red;
$secondary-color: pink;
$third-color: grey;
$font-1: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$font-2: "Times New Roman", Times, serif;
$shadow-pos: 5px;
$border-radious: 1rem;