@use "theme-1.scss" as theme;
@use "mixins.scss" as mixins;

.boton {
  padding: 50px;
  border: 1px solid #000000;
  border-radius: theme.$border-radious;
  width: 50px;
  display: block;
  text-align: center;
}

.boton-1 {
  @extend .boton;
  background-color: theme.$primary-color;
}

.boton-2 {
  @extend .boton;
  background-color: theme.$secondary-color;
}

.boton-3 {
  @extend .boton;
  background-color: theme.$third-color;
}

.texto-1 {
  font-family: theme.$font-1;
}

.texto-2 {
  font-family: theme.$font-2;
}

.boton-4 {
  @extend .boton;
  @include mixins.shadow-effect(theme.$shadow-pos);
}
