@import "theme-2.scss";

.boton {
  padding: 50px;
  border: 1px solid #000000;
  border-radius: $border-radious;
  width: 50px;
  display: block;
  text-align: center;
}

.boton-1 {
  @extend .boton;
  background-color: $primary-color;
}

.boton-2 {
  @extend .boton;
  background-color: $secondary-color;
}

.boton-3 {
  @extend .boton;
  background-color: $third-color;
}

.texto-1 {
  font-family: $font-1;
}

.texto-2 {
  font-family: $font-2;
}

.boton-4 {
  @extend .boton;
  @include shadow-effect($shadow-pos);
}
